<h1>Found articles and comments</h1>
<p>Search query: <%= params[:search_query] %></p>
<p>Number of results: <%= @search_results.size %></p>

<% if @search_results.respond_to?('response') and @search_results.response['took'] %>
        <p>The search took time:
                <%= @search_results.took %> ms
        </p>
<% end %>

<p>
        <%= button_to "Create new article", new_article_path, method: :get, class: 'btn btn-primary', id: 'createArticleButton' %>
        <% unless current_user %>
                <p style="color: #a23023">Sign in to post articles</p>
                <script type="text/javascript"> document.getElementById('createArticleButton').disabled = true </script>
        <% end %>
<br>
</p>



<% @search_results.with_hit.each do |element, details| %>
        <% if element.class == Article %>
                <%= render 'shared/article', element: element, details: details %>
        <% elsif element.class == Comment %>
                <%= render 'shared/comment', element: element, details: details, go_to_article: true %>

        <%# else %>
                <%#= element%>
                <%#= details %>

        <% end %>

<% end %>



