<%= link_to 'Back to all articles', articles_path, class: 'btn btn-primary' %>
<br><br>

<h1>Editing article</h1>
<br>

<div class="shadow p-3 mb-5 bg-info rounded">

        <div class="form-group">

                <%= form_for @article do |f| %>
                        <!--        можно и так (полная запись) -->
                        <%#= form_for :article, url: article_path(@article), method: :patch do |f| %>

                        <!--        articles_path - /articles-->
                        <!--        article_path(article) - /articles/2  (например вторая статья article) -->

                        <% if @article && @article.errors.any? %>
                                <% @article.errors.full_messages.each do |error| %>
                                        <ul>
                                                <li><%= error %></li>
                                        </ul>
                                <% end %>
                        <% end %>

                                <%= f.label :title %>
                                <%= f.text_field :title, class: 'form-control' %>

                                <%= f.label :text %>
                                <%= f.text_area :text, class: 'form-control', rows: '4' %>
                                <br>
                                <%= f.submit 'Save edited article', class: 'btn btn-primary' %>

                <% end %>

        </div>
</div>
